/dungeon/SlickExampleGame/Unwavering/nbproject/private/
/dungeon/SlickExampleGame/Unwavering/build/
/dungeon/SlickExampleGame/Shen_7_SlickExample/nbproject/private/
/dungeon/SlickExampleGame/Shen_7_SlickExample/build/
/dungeon/SlickExampleGame/Shen_7_SlickExample/dist/
/dungeon/Shen_7_SlickGame(BHA)/dist/
/dungeon/Shen_7_SlickGame(BHA)/build/